@import url("../../.cache/hellwal/colors-gtk.css");

* {
  all: unset;
}

#waybar {
  background-color: transparent;
}

tooltip > box,
#waybar > box {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: @background;
  box-shadow: 0 0 2px @foreground;
}

#waybar > box {
  padding: 8px;
  margin: 24px 8px 24px 12px;
}

tooltip,
#clock,
#workspaces {
  font-size: 14px;
  color: @foreground;
  font-family: JetBrainsMono;
}

#workspaces button.active {
  color: @color7;
}

#custom-clock,
#network,
#bluetooth,
#battery {
  font-size: 16px;
  color: @foreground;
  font-family: Material Symbols Rounded;
}

#battery.plugged {
  color: #a3be8c;
}

#battery.warning {
  color: #ebcb8b;
}

#battery.critical {
  color: #bf616a;
}
